---
---

@import "{{ site.theme }}";

.page-header {
	padding-top: 1rem;
	padding-bottom: 0.01rem;
    text-align: center;
    background-color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	color: #FFBE00;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

.bg-black {
  background-color: #333333;
}

.site-header .navbar-nav .nav-link {
  color: #FFD700;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

table {
  border-collapse: collapse;
  align-self: center;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #fafafa;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: #333333;
  color: #FFD700;
  text-align: left;
}

th, td {
  padding: 11px;
}
