---
---

@import "{{ site.theme }}";

.page-header {
	padding-top: 1rem;
	padding-bottom: 0.01rem;
    text-align: center;
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
	color: #FFD700;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

.bg-black {
  background-color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: #FFD700;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
