---
---

@import "{{ site.theme }}";

.page-header {
	padding-top: 1rem;
	padding-bottom: 0.01rem;
    text-align: center;
    background-color: #333333;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

table {
  border-collapse: collapse;
  align-self: center;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #fafafa;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: #333333;
  color: gold;
  text-align: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  th, td {
    padding: 8px;
    font-size: 8px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  th, td {
    padding: 9px;
    font-size: 9px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  th, td {
    padding: 10px;
    font-size: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  th, td {
    padding: 11px;
    font-size: 11px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  th, td {
    padding: 12px;
    font-size: 12px;
  }
}

.site-footer {
  margin-bottom: 2rem;
}
