<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

  <meta charset="UTF-8">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>

<body class="bg-light text-dark">

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <div class="container col-lg-8 col-md-10 col-12">
    <a class="navbar-brand mr-4" href="/c4s1/">
      {{ site.title | default: site.github.repository_name }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/c4s1/nm-mph/">nm-mph</a>
        <a class="nav-item nav-link" href="/c4s1/math-mod/">math-mod</a>
        <a class="nav-item nav-link" href="/c4s1/stoch-proc/">stoch-proc</a>
        <a class="nav-item nav-link" href="/c4s1/conv-opt/">conv-opt</a>
        <a class="nav-item nav-link" href="/c4s1/four-ser/">four-ser</a>
        <a class="nav-item nav-link" href="/c4s1/diff-sch-th/">diff-sch-th</a>
        <a class="nav-item nav-link" href="/c4s1/gen-opt-control/">gen-opt-control</a>
      </div>
    </div>
  </div>
</nav>

<main role="main" class="container col-lg-8 col-md-10 col-12" style="margin-top: 5rem;">
  <div class="row">
    <div class="col-12">
      {{ content }}
    </div>
  </div>
</main>

<footer class="mt-3 pt-3 pb-3 border-top">
  <div class="container col-lg-8 col-md-10 col-12">
    <small><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></small>
    <div class="text-muted">
      <small>&copy; 2019 Київський національний університет імені Тараса Шевченка, Скибицький Нікіта</small>
    </div>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>